body{
  background-color: #000;
  color: #ccc;
}

header{
  background-color: #fff;
  padding: 10px;
  color: #333;
}

#wave{
  width:60px;
  height: 60px;
  background-image: url(../images/partyparrot.gif);
  background-size: 60px auto;
  background-position: center center;
  background-repeat: repeat-x;
  margin-left: auto;
}

img{
  max-width: 100%;
  display: block;
}

#contents{
  max-width: 1000px;
  margin: 0 auto;
}

.grid-item {
  max-width: 100%;
  width: 200px;
  padding: 2px;
}
.grid-item--width2 {
  width: 400px;
}

.grid-item--width3 {
  width: 600px;
}